<div>
    <h2 id="page-heading">
        <span jhiTranslate="slonieWebApp.slonie.home.title">Slonies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-slonie" [routerLink]="['/slonie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="slonieWebApp.slonie.home.createLabel">
            Create new Slonie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="slonies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="slonieWebApp.slonie.plik">Plik</span></th>
            <th><span jhiTranslate="slonieWebApp.slonie.wynik">Wynik</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let slonie of slonies ;trackBy: trackId">
                <td><a [routerLink]="['/slonie', slonie.id, 'view' ]">{{slonie.id}}</a></td>
                <td>{{slonie.plik}}</td>
                <td>{{slonie.wynik}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/slonie', slonie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/slonie', slonie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'slonie/'+ slonie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
